<div class="w-2/3 mx-auto block-wrapper">
  <h2> Створити нову послугу </h2>
  <div class="text-red-600">
    <%= render template: "layouts/flash", locals: { flash: flash[:error] } %>
  </div>
  <%= form_with model: @service, class: "flex flex-col" do |f| %>
    <div class="input-wrapper">
      <%= f.label :title, "Заголовок" %>
      <%= f.text_field :title, required: true %>
    </div>
    <div class="input-wrapper">
      <%= f.label :description, "Опис" %>
      <%= f.text_area :description, class: "min-h-[120px]", required: true %>
    </div>
    <div class="input-wrapper">
      <%= f.label :price, "Ціна" %>
      <%= f.text_field :price, default: true, class: "mr-auto" %>
    </div>
    <div class="flex gap-4 mt-5 justify-end">
      <%= link_to "< Назад ", request.referrer, class: "button secondary-button" %>
      <%= f.submit "Підтвердити", class: "button primary-button" %>
    </div>
  <% end %>
</div>
