<div class="block-wrapper">
  <%= link_to "< Назад ", request.referrer, class: "button secondary-button" %>
  <p class="text-xs mb-2 mt-4"> Опубліковано <%= time_ago_in_words(@service.created_at) %> </p>
  <h2> <%= @service.title %> </h2>
  <p class="text-2xl"> Ціна: <%= @service.price %> </p>
  <hr class="my-4">
  <h3> Опис </h3>
  <p> <%= @service.description %> </p>
  <div class="mt-4 flex gap-4">
    <% if current_user %>
      <% if service_created_by_current_user?(@service.worker_id) %>
        <%= link_to "Редагувати", edit_service_path(@service), class: "button primary-button" %>
        <% if @service.rejection_reason && @service.not_active? %>
          <div class='px-4 py-2 bg-red-200'>
            <h5> Причина відмови: </h5>
            <p><%= @service.rejection_reason %><p>
          </div>
        <% end %>
      <% end %>
      <% unless service_created_by_current_user?(@service.worker_id) %>
        <%= link_to "Замовити", new_service_service_order_path(@service), class: "button primary-button" %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render partial: "services/worker" %>
<div class="block-wrapper mt-4">
  <h3> Останні оголошення автора </h3>
  <p class="text-gray-500 hover:text-gray-600"> <%= link_to "Всі оголошення автора >", worker_path(@service.worker) %> </p>
  <div class="service-wrapper pt-4">
    <% @service.worker.services.last(4).each do |service| %>
      <%= render partial: "services/service", locals: { service: service } %>
    <% end %>
  </div>
</div>
