<%= link_to service_order_path(service_order), class: "service" do %>
  <p class="text-xs"> Було створено <%= time_ago_in_words(service_order.created_at) %> </p>
  <h3> <%= service_order.service.title %> </h3>
  <p> <%= service_order.contact_info %> </p>
  <p> <%= service_order.description %> </p>
  <p> Поточний статус: <%= service_order_status(service_order.status) %> </p>
<% end %>
