<div class="block-wrapper">
  <h2> Ваша персональна інформація </h2>
  <p> Повне ім'я: <%= @user.full_name %> </p>
  <p> Електронна пошта: <%= @user.email %> </p>
  <p> Номер телефону: <%= @user.phone_number %> </p>
  <p> Ваш псевдонім: <%= @user.username %> </p>
  <p> Дата народження: <%= @user.date_of_birth %> </p>
</div>
<div class="block-wrapper mt-4">
  <h3> Ваші замовлення </h3>
  <div class="service-wrapper">
    <% @user.service_orders.order(created_at: :desc).each do |service_order| %>
      <%= render partial: "personal_informations/service_order", locals: { service_order: service_order }%>
    <% end %>
    <% if @user.service_orders.empty? %>
      <em> У вас ще немає замовлень </em>
    <% end %>
  </div>
</div>
