<div class="w-2/3 mx-auto block-wrapper">
  <h2> Створити робочий акаунт </h2>
  <div class="text-red-600">
    <%= render template: "layouts/flash", locals: { flash: flash[:error] } %>
  </div>
  <%= form_with model: @worker, class: "flex flex-col" do |f| %>
    <div class="input-wrapper">
      <%= f.label :category, "Виберіть категорії, в яких ви будете надавати послуги" %>
      <%= f.collection_select :category_ids, Category.all, :id, :title, {  }, { multiple: true, class: "mb-3 js-multiple-select", required: true} %>
    </div>
    <div class="input-wrapper">
      <%= f.label :description, "Ваш короткий опис" %>
      <%= f.text_area :description, class: "min-h-[120px]", required: true %>
    </div>
    <div class="input-wrapper">
      <%= f.label :looking_for_work, "На даний момент відкриті до нових пропозицій" %>
      <%= f.check_box :looking_for_work, checked: true, class: "mr-auto" %>
    </div>
    <div class="flex gap-4 mt-5 justify-end">
      <%= link_to "< Назад ", root_path, class: "button secondary-button" %>
      <%= f.submit "Підтвердити", class: "button primary-button" %>
    </div>
  <% end %>
</div>
