<div class="block-wrapper">
  <%= link_to "< Назад ", request.referrer, class: "button secondary-button mb-4" %>
  <h2> Інформація про виконавця </h2>
  <h3>
    <%= @worker.user.full_name %>
  </h3>
  <p>
    Категорія:
    <%= @worker.category %>
  </p>
  <p>
    Опис:
    <%= @worker.description %>
  </p>
  <%= render partial: "workers/opened_to_new_work", locals: { worker: @worker } %>
</div>
<%= render partial: "workers/created_services" %>
<%= render partial: "workers/rate" %>
