<!DOCTYPE html>
<html>
  <head>
    <title>OLX</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <h1><%= link_to "OLX", root_path %></h1>
    <% if current_user %>
      <h3> Поточний користувач </h3>
      <%= current_user.full_name %>
      <%= button_to "Вийти", sessions_path, method: :delete, class: "button red-button"  %>
    <% else %>
      <%= link_to "Реєстрація", new_user_path, class: "button primary-button" %>
      <%= link_to "Авторизація", new_sessions_path, class: "button primary-button" %>
    <% end %>
    <%= yield %>
  </body>
</html>
